@import "tailwindcss";

:root {
  color-scheme: dark;
}

@theme {
  --color-background: #09090b;
  --color-surface: #18181b;

  --color-primary: #8b5cf6;
  --color-secondary: #a855f7;
  --color-accent: #d946ef;

  --font-sans: 'Inter', sans-serif;
  --font-mono: 'Fira Code', monospace;
}

body {
  @apply bg-background text-gray-100 font-sans antialiased overflow-hidden;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #3f3f46;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #52525b;
}

.glass-panel {
  @apply bg-surface/50 backdrop-blur-xl border border-white/10 shadow-xl;
}